{%load static %}
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="bg-[url('imgs/bg_image.jpg')] bg-cover bg-no-repeat min-h-screen items-center flex flex-col p-3 gap-5">
    <div class ="flex items-center justify-center gap-3">
    <h1 class="text-white text-2xl font-bold">Weather App</h1>
    <img src="{% static 'imgs/weather.png' %}"alt="">
    </div>
    <form method="get" flex gap-3 justify-center">
    
        <input name="city" type="text"
        class="rounded-full px-5 py-2">
        <button type="submit"><ion-icon name="search-outline" class="text-white text-2xl p-2 bg-white/20 rounded-full"></ion-icon></button>
    </form>
    <div class="bg-white/20 flex p-3 gap-5"><div class="gap-5 flex flex-col"><div class="flex flex-col gap-2">
        
        <p class="text-white font-bold text 3xl">{{temperature}}&deg;C</p>
        <p class="text-white font-semibold text-sm">Now</p>
    </div>
    <div class="text-white font-bold">{{city}},{{country}}</div>
</div>
<img src="{% static 'imgs/img.png' %}" alt="" class="w-22 h-28"></div>
        


    
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
</body>
</html>